Source: openocd-service
Section: devel
Priority: optional
Maintainer: Dietrich Wall <dietrich7@gmx.de>
Build-Depends: debhelper (>= 9)
Package: openocd-service
Architecture: amd64
Depends: openocd
Description: Runs openocd as a systemd-service, so I don´t have to start it manually
 It adds a simple systemd service file and a script, which reads arguments from a file
Version: 0.0.1
